:root {
    --p-primary-50: #f0faff;
    --p-primary-100: #ccf0fd;
    --p-primary-200: #99e0fb;
    --p-primary-300: #66cef8;
    --p-primary-400: #33bdf4;
    --p-primary-500: #00a0e1;
    --p-primary-600: #0086c1;
    --p-primary-700: #006b9b;
    --p-primary-800: #005277;
    --p-primary-900: #003b58;
    --p-primary-950: #002638;

    --p-surface-0: #ffffff;
    --p-surface-50: #f8f9fa;
    --p-surface-100: #f1f3f5;
    --p-surface-200: #dee2e6;
    --p-surface-300: #ced4da;
    --p-surface-400: #adb5bd;
    --p-surface-500: #868e96;
    --p-surface-600: #6c757d;
    --p-surface-700: #495057;
    --p-surface-800: #343a40;
    --p-surface-900: #212529;
    --p-surface-950: #16191c;

    --p-content-border-radius: 6px;
}

:root {
    --p-primary-color: var(--p-primary-500);
    --p-primary-contrast-color: var(--p-surface-0);
    --p-primary-hover-color: var(--p-primary-600);
    --p-primary-active-color: var(--p-primary-700);
    --p-content-border-color: var(--p-surface-200);
    --p-content-hover-background: var(--p-surface-100);
    --p-content-hover-color: var(--p-surface-800);
    --p-highlight-background: var(--p-primary-50);
    --p-highlight-color: var(--p-primary-700);
    --p-highlight-focus-background: var(--p-primary-100);
    --p-highlight-focus-color: var(--p-primary-800);
    --p-text-color: var(--p-surface-700);
    --p-text-hover-color: var(--p-surface-800);
    --p-text-muted-color: var(--p-surface-500);
    --p-text-hover-muted-color: var(--p-surface-600);
}

.pet-registration-form .switch-control {
    @apply border border-primary p-0 w-48;
}

.pet-registration-form .switch-control > .p-togglebutton {
    @apply py-1 w-1/2;
}

.pet-registration-form .switch-control > .p-togglebutton.p-togglebutton-checked {
    @apply text-white bg-primary;
}

.pet-registration-form .switch-control > .p-togglebutton:not(.p-togglebutton-checked) {
    @apply text-primary bg-white;
}

.pet-registration-form .switch-control > .p-togglebutton:not(.p-togglebutton-checked):hover {
    @apply text-white bg-primary;
}

.pet-registration-form .switch-control > .p-togglebutton.p-togglebutton-checked:before {
    @apply bg-transparent;
}

.pet-registration-form .p-button:disabled {
    @apply bg-[#dcdcdc] border-[#dcdcdc];
}
